@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.button {
  background-color: var(--color-primary);
  border: none;
  border-radius: $button-border-radius;
  color: var(--color-white);
  display: inline-block;
  font-size: $typographic-base-font-size;
  font-weight: bold;
  height: $button-height;
  line-height: $button-height;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  @include padding(0, 1.5);

  &:hover,
  &:focus {
    filter: brightness(90%);
  }
}
