@import "../../assets/scss/variables";

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  @include breakpoint-sm {
    display: flex;
  }

  .bar {
    width: 2rem;
    height: 0.25rem;
    background: var(--color-text);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  &.isOpen {
    .bar:nth-child(1) {
      transform: rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    .bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
