@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  @include breakpoint-sm {
    padding: 1.5rem;
  }

  @include breakpoint-md {
    padding: 2rem;
  }
}
