@use "sass:color";
@import "../variables";

:root.dark {
  --color-background: #{$color-dark-background};
  --color-background-secondary: #{$color-dark-background-secondary};
  --color-text: #{$color-dark-text};
  --color-text-light: #{$color-dark-text-light};
  --color-border: #{$color-dark-border};
  --color-primary: #{$color-primary};
  --color-white: #{$color-white};
}
