@use "sass:color";
@import "../variables";

:root.light {
  --color-background: #{$color-light-background};
  --color-background-secondary: #{$color-light-background-secondary};
  --color-text: #{$color-light-text};
  --color-text-light: #{$color-light-text-light};
  --color-border: #{$color-light-border};
  --color-primary: #{$color-primary};
  --color-white: #{$color-white};
}
