@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.searchInput,
.categorySelect {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  color: var(--color-text);
}
