@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  padding: 2rem 0;

  .container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;

    @include-md-and-down {
      flex-direction: column;
    }
  }

  .content {
    max-width: $layout-post-width;
    width: 100%;
    margin: 0 auto;
  }

  .toc {
    width: 250px;
    position: sticky;
    top: 80px;

    @include-md-and-down {
      display: none;
    }
  }

  .footer {
    margin-bottom: 2rem;
  }

  .comments {
    margin-bottom: 2rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .buttonArticles {
    margin-right: 1rem;
  }
}
