@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  .content {
    max-width: $layout-post-width;
    margin-bottom: 2rem;
  }

  .footer {
    margin-bottom: 2rem;
  }

  .comments {
    margin-bottom: 2rem;
  }

  .buttons {
    display: none;
  }
}
