@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  padding: 2rem 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include breakpoint-lg {
    grid-template-columns: 1fr 250px;
  }
}

.content {
  max-width: $layout-post-width;
  width: 100%;
  margin: 0 auto;
}

.toc {
  @include breakpoint-lg {
    position: sticky;
    top: 80px;
  }
}
